affine==1.2.0
click==6.3
click-plugins==1.0.3
cligj==0.4.0
Fiona==1.6.3
GDAL==2.0.1
numpy==1.10.4
pandas==0.17.1
pyparsing==2.1.0
python-dateutil==2.4.2
pytz==2015.7
quantities==0+unknown
rasterio==0.31.0
rasterstats==0.10.2
scipy==0.17.0
Shapely==1.5.13
six==1.10.0
snuggs==1.3.1
wheel==0.29.0
xlrd==0.9.4
